% load static %}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-uppercase text-primary">
            <span>Dashboard</span>
          </h6>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'expenses' %}">
            Expenses
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'incomes' %}">
            Incomes
          </a>
        </li>
      </ul>

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-uppercase text-primary">
        <span>Summary</span>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'expense-summary' %}">
            Expenses Summary
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'income-summary' %}">
            Income Summary
          </a>
        </li>
      </ul>

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-uppercase text-primary">
        <span>Settings</span>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'preferences' %}">
            General
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Account
          </a>
        </li>
      </ul>

    </div>
  </nav>