{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            
            <div class="card-body">
                <div class="card-title py-3">
                    <h4>Register Account</h4>
                </div>

                <form action="{% url 'register' %}" method="POST">

                    {% csrf_token %}

                    {% include 'partials/messages.html' %}

                    <div class="form-group mb-2">
                        <input type="text" name="username" id="usernameField" class="form-control form-control-sm" placeholder="Username" value="{{ fieldValues.username }}">
                    </div>

                    <div class="username-invalid-feedback invalid-feedback" style="display:none"> </div>

                    <div class="usernameSuccessOutput valid-feedback mb-2"> </div>

                    <div class="form-group mb-2">
                        <input type="email" name="email" id="emailField" class="form-control form-control-sm" placeholder="Email" value="{{ fieldValues.email }}">
                    </div>

                    <div class="email-invalid-feedback invalid-feedback" style="display:none"></div>

                    <div class="emailSuccessOutput valid-feedback mb-2"></div>

                    <div class="form-group mb-2">
                        <input type="password" name="password" id="passwordField" class="form-control form-control-sm" placeholder="Password">
                    </div>

                    <div class="form-group mb-2">
                        <input type="checkbox" class="form-check-input showPasswordToggle" id="showPassword">
                        <label class="form-check-label" for="showPassword">Show Password</label>
                    </div>

                    <div class="d-grid gap-2">
                        <input type="submit" value="Register" class="btn btn-primary submit-btn" disabled="disabled">
                    </div>

                </form>

                <div class="container">
                
                    <span class="text-lead lead">Have an Account?</span> <a href="{% url 'login' %}">Login</a>
    
                </div>

            </div>
        </div>
    </div>
    </div>
    <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}